<div class="about-section" style="margin-bottom: 10px;">
  <h1>About Us Page</h1>
  <p>Built a social media site where a user can share places with the other users.</p>
  <p>Image uploads , CRUD Methods , User Authentication , Like and Comment features has been implemented.</p>
  <p>NodeJs , ExpressJs and MongoDB for the backend and EJS templates for the frontend are used.</p>
</div>
<hr>
<h2 style="text-align:center; margin-top: 10px;">Our Team</h2>
  <div style="display:flex;flex-direction: row;justify-content: space-evenly;">
    <div class="card shadow-lg h-60" style="width: 20rem;height: 20rem" >
      <img src="/images/amigo1.jpg" alt="Amigo" style="width:100%;height: 100%">
      <div class="container">
        <h2>Amigo - 1</h2>
        <p class="title">Frontend Developer</p>
        <p></p>
        <p>contact @ amigo1@gmail.com</p>
      </div>
    </div>
    <div class="card shadow-lg h-60" style="width: 20rem;height: 20rem;" >
      <img src="/images/amigo2.jpg" alt="Amigo" style="width:100%;height: 100%">
      <div class="container">
        <h2>Amigo - 2</h2>
        <p class="title">Backend Developer</p>
        <p></p>
        <p>contact @  amigo2@gmail.com</p>
      </div>
    </div>
  </div>
</div>
