<div class="row justify-content-center">

  <% if(registerFailed != '') { %>
    <div class="col-8 alert alert-danger" role="alert">
      <%= registerFailed %>
    </div>
  <% } %>

</div>

<section class="vh-100" style="background-color: rgb(243,243,243)">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <form action="/register" method="post">
              <h3 class="mb-5">Registration</h3>

              <div class="form-outline mb-4">
                <input
                  type="email"
                  id="typeEmailX-2"
                  class="form-control form-control-lg"
                  name="email"
                  required
                />
                <label class="form-label" for="typeEmailX-2"
                  >Email <span style="color: red">*</span></label
                >
              </div>

              <div class="form-outline mb-4">
                <input
                  type="text"
                  id="typeEmailX-2"
                  class="form-control form-control-lg"
                  name="username"
                  required
                />
                <label class="form-label" for="typeEmailX-2"
                  >Username <span style="color: red">(min 8 chars)*</span></label
                >
              </div>

              <div class="form-outline mb-4">
                <input
                  type="password"
                  id="typePasswordX-2"
                  class="form-control form-control-lg"
                  name="password"
                  required
                />
                <label class="form-label" for="typePasswordX-2"
                  >Password <span style="color: red">(min 8 chars)*</span></label
                >
              </div>

              <button class="btn btn-primary btn-lg btn-block" type="submit">
                Register
              </button>
            </form>

            <hr class="my-4" />

            <a
              class="btn btn-lg btn-block btn-primary"
              style="background-color: #dd4b39"
              type="submit"
              href="/auth/google"
            >
              <i class="fab fa-google me-2"></i> Sign up with google
            </a>
            <h5>Already have an account ? <a href="/login">Sign In</a></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
